img {
    width: 380px;
    border: 3px solid #121212;
    
}

button {
    width: 250px;
    margin-top: 10px;
    color: white;
    background: #121212;
    border: 3px solid #121212;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup {
    display: flex;
    flex-direction: column;
    

}

input {
    width: 240px;
    border: 3px solid #121212;
    height: 37px;
    margin-top: 10px;
    text-align: center;
}

.terms {
    font-style: italic;
}

p {
    font-style: italic;
}